<b:style>
  .view {
    padding: 0 20px;
  }
</b:style>
<b:isolate/>

<div class="view">
  {l10n:status}: {status}
  <div class=":progress">
    <div class=":progress-bar :progress-bar-success" style="width: {progress}%; min-width: 2em;">{progress}%</div>
  </div>
</div>
