.spinner
{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 2px;
	opacity: 0;
	transition: opacity .5s .1s ease-out;
	z-index: 11;
}

.spinner_processing
{
	opacity: 1;
	transition: opacity 1s .2s ease-out;
}

.intro, .bar
{
	background: #ffce54;
}

.intro
{
    -ms-flex: 0 1 20px;
    -webkit-flex: 0 1 20px;
    flex: 0 1 20px;
}

.bar-wrapper
{
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.bar
{
	height: 100%;
}

.bar_processing
{
	transition: width .2s ease-out;
}
