<b:style src="./view.css"/>
<b:isolate/>

<div class="spinner spinner_{anim:processing}">
  <div class="intro intro_{anim:processing}"/>
  <div class="bar">
    <div class="bar__fill bar__fill_{anim:processing}" style="width: {progress}%"/>
  </div>
</div>
