<b:style src="./item.css"/>
<b:isolate/>

<div class="item" style="flex-basis: {percentage}%; background-color: {color}" event-mouseover="select" event-mousemove="mouseMove" event-mouseout="unselect"/>
