<b:style src="./item.css"/>
<b:isolate/>

<div class="item" style="-ms-flex: 0 1 {percentage}%; -webkit-flex: 0 1 {percentage}%; flex: 0 1 {percentage}%; background-color: {color}" event-mouseover="select" event-mousemove="mouseMove" event-mouseout="unselect"/>
