<b:style src="./item.css"/>
<b:isolate/>

<div class="item item_{type}" style="-ms-flex: 0 1 {percentage}%; -webkit-flex: 0 1 {percentage}%; flex: 0 1 {percentage}%;" event-mouseover="select" event-mousemove="mouseMove" event-mouseout="unselect"/>
