<b:style src="./tooltip.css"/>
<b:isolate/>

<b:include src="app.ui.tooltip">
    <b:replace ref="content">
        <div class="marker marker_{type}"/>
        {caption}: {count} ({percentage}%)
    </b:replace>
</b:include>
