<b:style src="./tooltip.css"/>
<b:isolate/>

<b:include src="app.ui.tooltip">
    <b:replace ref="content">
        <div class="marker" style="background-color: {color}"/>
        {group}: {count} ({width}%)
    </b:replace>
</b:include>
