<b:style src="./view.css"/>
<b:isolate/>
<b:define name="status" type="enum" values="compiling invalidated success failed"/>
<b:define name="processing" from="status" type="enum" values="compiling invalidated"/>

<div class="view view-{status}">
    Webpack <b>{version}</b>
    <span class="status-wrapper">
        <span class="status status-{status}">{l10n:status.{status}}</span>
    </span>
    <span class="results results-{status}">
        Hash: {hash} /&#32;
        Chunks: <b>{chunks}</b> /&#32;
        Errors: <b>{errors}</b> /&#32;
        Warnings: <b>{warnings}</b>
    </span>
</div>
