<div>
  <table class=":table :table-striped">
    <thead>
    <tr>
      <th>{l10n:name}</th>
      <th>{l10n:size}</th>
    </tr>
    </thead>
    <tbody{childNodesElement}/>
    <tfoot>
    <tr>
      <td><b>{l10n:total}</b></td>
      <td><b>{totalSize} {postfix}</b></td>
    </tr>
    </tfoot>
  </table>
</div>
