<b:isolate/>
<b:style src="./item.css"/>
<b:define name="selected" type="bool"/>
<b:define name="disabled" type="bool"/>

<span class="item item_{selected} item_{disabled}" event-click="select">
  {l10n:items.{id}}
   <span b:show="{counter}" class="counter"> ({counter})</span>
</span>
