<b:style src="./menu.css"/>
<b:isolate/>

<div class="menu">
    <!--{childNodesHere}-->
    <span class="label">
        <a href="https://github.com/smelukov/webpack-runtime-analyzer" target="_blank">Webpack Runtime Analyze</a>
    </span>
</div>
