<b:l10n src="../index.l10n"/>

<tr b:ref="tr">
    <td b:ref="moduleId">{id}</td>
    <td b:ref="moduleName"><a href="#" event-click="gotoModule">{name}</a></td>
    <td b:ref="moduleSize">{size}</td>
</tr>
