<b:isolate/>
<b:style src="./graph.css"/>

<svg:svg class="graph" event-click="resetSelection">
  <svg:marker id="graph-line-end" viewBox="0 0 10 10" refX="18" refY="5" markerUnits="strokeWidth" markerWidth="6" markerHeight="5" orient="auto">
    <svg:path d="M 0 0 L 10 5 L 0 10 z"/>
  </svg:marker>
  <svg:g{childNodesElement|transformElement} buffered-rendering="dynamic" transform="{matrix}"/>
</svg:svg>
