.graph-node
{
  stroke: white;
  stroke-width: 2px;
  fill: #EEE;
  transition: fill .25s;
}

.type_module_context,
.type_module_external,
.type_module_delegated,
.type_module_multi
{
  stroke: #d6712c;
  stroke-width: 3px;
}

.type_isEntry
{
  stroke: #d62728;
  stroke-width: 3px;
}

.type_file_html.matched
{
  fill: #FF0000;
}
.type_file_script.matched
{
  fill: #99BBCC;
}
.type_file_style.matched
{
  fill: #FF69B4;
}
.type_file_template.matched
{
  fill: #88CC88;
}
.type_file_l10n.matched
{
  fill: orange;
}
.type_file_image.matched
{
  fill: #87CEEB;
}
.type_file_json.matched
{
  fill: gray;
}
.type_file_font.matched
{
  fill: #4169E1;
}

.hasSelected
{
  fill: #EEE !important;
}
.selected
{
  fill: red !important;
}
