<b:isolate/>
<b:style src="./node.css"/>
<b:define name="moduleType" type="enum" values="context external delegated multi"/>
<b:define name="isEntry" type="bool"/>
<b:define name="fileType" type="enum" values="script style html template l10n image font json"/>
<b:define name="selected" type="bool"/>
<b:define name="hasSelected" type="bool"/>
<b:define name="matched" type="bool"/>

<svg:circle class="graph-node type_file_{fileType} type_module_{moduleType} type_{isEntry} {hasSelected} {selected} {matched}"
  cx="{x}"
  cy="{y}"
  r="8"
  event-click="select hover"
  event-mouseover="hover"
  event-mouseout="unhover"
  />
