.popup
{
  pointer-events: none;
  opacity: .8;
  transform: translateZ(0);
  max-width: 500px;
  padding: 3px 8px;
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  background-color: #000;
  border-radius: 4px;
}

.popup hr
{
  border-color: white;
}

.marker
{
  position: relative;
  top: 1px;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin: 0 5px;
  border-radius: 50%;
}

.marker_module_context,
.marker_module_external,
.marker_module_delegated,
.marker_module_multi
{
  border: 2px solid #d6712c;
  box-sizing: border-box;
}

.marker_isEntry
{
  border: 2px solid #d62728;
  box-sizing: border-box;
}

.marker_file_html
{
  background: #FF0000;
}
.marker_file_script
{
  background: #99BBCC;
}
.marker_file_style
{
  background: #FF69B4;
}
.marker_file_template
{
  background: #88CC88;
}
.marker_file_l10n
{
  background: orange;
}
.marker_file_image
{
  background: #87CEEB;
}
.marker_file_json
{
  background: gray;
}
.marker_file_font
{
  background: #4169E1;
}
