<b:style src="./item.css"/>
<b:isolate/>

<div>
  <span class="caption">
    Path:
  </span>
  {path}
  <div b:show="{hasQuery}">
    <span class="caption">
      Query:
    </span>
    <pre class="query">
      {query}
    </pre>
  </div>
</div>
