<b:style src="./list.css"/>
<b:isolate/>

<div>
    <div b:hide="{hasChildren}" class="empty">
        The list is empty...
    </div>
    <div b:show="{hasChildren}" b:ref="childNodesElement"/>
</div>
