.item
{
  line-height: 30px;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.item:hover,
.item_selected
{
  background: #EEE;
}

.item ~ .item
{
  border-left: none
}

.item:first-child
{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.item:last-child
{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.counter
{
  color: #999;
}
