<b:style src="app:template/colors.css"/>
<b:isolate/>
<b:define name="type" type="enum" values="script style html template l10n image font json"/>

<b:include src="app.ui.colorBar.item">
    <b:class ref="item" value="type-color-{type}"/>
    <b:attr ref="item" name="event-mouseover" value="select"/>
    <b:attr ref="item" name="event-mousemove" value="mouseMove"/>
    <b:attr ref="item" name="event-mouseout" value="unselect"/>
    <b:attr ref="item" name="event-click" value="click"/>
</b:include>
