<b:style src="./tooltip.css"/>
<b:style src="app:template/colors.css"/>
<b:isolate/>
<b:define name="type" type="enum" values="script style html template l10n image font json"/>

<b:include src="app.ui.tooltip">
    <b:replace ref="content">
        <div class="marker type-color-{type}"/>
        {caption}: {count} ({percentage}%)
    </b:replace>
</b:include>
