<div class=":well :well-lg">
  <div>
    <b>Version:</b> {version}
  </div>
  <div>
    <b>Hash:</b> {hash}
  </div>
  <div>
    <b>Assets:</b> {assets}
  </div>
  <div>
    <b>Modules:</b> {modules}
  </div>
  <div>
    <b>Chunks:</b> {chunks}
  </div>
  <div>
    <b>Errors:</b> {errors}
  </div>
  <div>
    <b>Warnings:</b> {warnings}
  </div>
</div>
