<b:style>
  .view {
    margin: 0 20px 10px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
</b:style>
<b:isolate/>

<div class="view">
  <div>
    <b>Version:</b> {version}
  </div>
  <div>
    <b>Hash:</b> {hash}
  </div>
  <div>
    <b>Chunks:</b> {chunks}
  </div>
  <div>
    <b>Errors:</b> {errors}
  </div>
  <div>
    <b>Warnings:</b> {warnings}
  </div>
</div>
