.field {
    border: 1px solid #777;
    border-radius: 2px;
    overflow: hidden;
}

.native-type-text {
    width: 100%;
    border: none;
    outline: none;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    color: #444;
}
