<b:style src="./template.css"/>
<b:isolate/>

<div class="content-wrapper">
    <div class="content-column">
        <div class="header">
            <span class="caption" b:ref="leftCaption"></span>
            <span class="stat" b:ref="leftStat"></span>
        </div>
        <!--{left}-->
    </div>
    <div class="splitter"/>
    <div class="content-column">
        <div class="header">
            <span class="caption" b:ref="rightCaption"></span>
            <span class="stat" b:ref="rightStat"></span>
        </div>
        <!--{right}-->
    </div>
</div>
