.content-wrapper
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.content-column
{
    -ms-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
}

.splitter
{
    -ms-flex: 0 0 10px;
    -webkit-flex: 0 0 10px;
    flex: 0 0 10px;
}

.header
{
    font-size: 20px;
    line-height: 1;
    margin: 0 0 10px;
}

.caption
{
    color: #8A8;
    padding: 3px 3px 0;
}

.stat
{
    font-size: 14px;
    color: #888;
}
