.item {
  padding: 5px 10px;
}

.item:first-child {
  padding-top: 10px;
}

.item:last-child {
  padding-bottom: 10px;
}

.item :global(.view-toggle) {
  font-size: 11px;
}

.item :global(.view-select), .item :global(.view-input) {
  line-height: 0.9;
  font-size: 11px;
}
