.item {
  padding: 4px 6px 4px 12px;
}

.toggle :global(.view-toggle) {
  font-size: 11px;
}

.select :global(.view-select) {
  line-height: 0.9;
  font-size: 11px;
}

.caption {
  display: inline-block;
  padding-right: 1ex;
}
