.header {
  display: inline-block;
}

.root {
  display: flex;
}

.root > * {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 50%;
  overflow: hidden;
  box-sizing: border-box;
}

.root > :nth-child(1) {
  padding-right: 7px;
}

.root > :nth-child(2) {
  padding-left: 7px;
}

.module-item {
  white-space: nowrap;
}
