.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    line-height: 1.7em;
}

.table tbody tr:nth-child(odd) td {
    background: #f5f5f5;
}

.table td {
    padding: 4px;
}

.table tfoot td, tbody td {
    border-top: 1px solid #ccc;
}

.empty {
    background: #d9edf7;
    padding: 10px;
    border-radius: 5px;
}
