<b:style src="./bottom.css"/>
<b:isolate/>

<b:include src="app.ui.bottomBar">
    <b:append b:ref="content">
        <div b:hide="{fileName}">
            No file from the bundle is editing
        </div>
        <div b:show="{fileName}">
            <div class="line">
                <div class="file-name">
                    <b>File:</b> <a href="#" event-click="fileStat">{fileName}</a>
                </div>
                <div>
                    <b>Require: </b>
                    <span b:show="{requiredAmount}">{requiredAmount} {l10n:module.{requiredAmount}} in {requiredSize}</span>
                    <span b:hide="{requiredAmount}">-</span>
                </div>
                <div>
                    <b>Retained: </b>
                    <span b:show="{retainedAmount}">{retainedAmount} {l10n:module.{retainedAmount}} in {retainedSize}</span>
                    <span b:hide="{retainedAmount}">-</span></div>
                <div>
                    <b>Exclusive: </b>
                    <span b:show="{exclusiveAmount}">{exclusiveAmount} {l10n:module.{exclusiveAmount}} in {exclusiveSize}</span>
                    <span b:hide="{exclusiveAmount}">-</span>
                </div>
            </div>
            <div b:show="{outputAmount}">
                <b>Transform:</b> 1 file in {fileSize} <b>to</b> {outputAmount} {l10n:module.{outputAmount}} in
                {outputSize}
            </div>
        </div>
    </b:append>
</b:include>
