.color-yellow-1 { color: #FFDF6B }
.color-yellow-2 { color: #FFF0BA }
.color-yellow-3 { color: #FFE78F }
.color-yellow-4 { color: #FFD94C }
.color-yellow-5 { color: #E9BF25 }

.color-green-1 { color: #89E761 }
.color-green-2 { color: #C9F9B5 }
.color-green-3 { color: #A6F086 }
.color-green-4 { color: #70DC42 }
.color-green-5 { color: #52C820 }

.color-red-1 { color: #F4667F }
.color-red-2 { color: #FCB8C4 }
.color-red-3 { color: #F98B9E }
.color-red-4 { color: #F04765 }
.color-red-5 { color: #DB2343 }

.color-blue-1 { color: #7164CA }
.color-blue-2 { color: #BFB8F1 }
.color-blue-3 { color: #948ADF }
.color-blue-4 { color: #5346B3 }
.color-blue-5 { color: #3A2BA2 }



.type-color-html
{
    background: #FF0000;
}
.type-color-script
{
    background: #99BBCC;
}
.type-color-style
{
    background: #FF69B4;
}
.type-color-template
{
    background: #88CC88;
}
.type-color-l10n
{
    background: orange;
}
.type-color-image
{
    background: #87CEEB;
}
.type-color-json
{
    background: gray;
}
.type-color-font
{
    background: #4169E1;
}
