<b:style src="./layout.css"/>
<b:isolate/>

<div>
  <!--{menu}-->
  <div class=":container-fluid main">
    <div class=":page-header">
      <h1>Rempl Webpack Analyzer</h1>
    </div>
    <!--{progress}-->
    <!--{page}-->
  </div>
</div>
