<b:style src="./layout.css"/>
<b:isolate/>

<div>
  <!--{menu}-->
  <div class="main :container-fluid">
    <div class=":page-header">
      <h1>Webpack Runtime Analyzer</h1>
    </div>
    <!--{progress}-->
    <!--{page}-->
  </div>
</div>
