<b:style src="./layout.css"/>
<b:isolate/>

<div class="layout">
  <div class="menu">
    <!--{menu}-->
  </div>
  <div class="main">
    <!--{status}-->
    <!--{progress}-->
    <!--{page}-->
  </div>
</div>
