.footer
{
	flex: 1;
	display: block;
	text-align: right;
	padding: 8px 8px 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-shadow: 0 0 2px white;
}

.footer a
{
	color: #3bafda;
}
