<b:style src="./list.css"/>
<b:isolate/>

<b:include src="basis.ui.popup.Popup">
    <b:replace ref="content">
        <div b:show="{empty}" class="empty">nothing found</div>
        <div b:show="{hasChildren}" b:ref="content">
            <!--{childNodesHere}-->
        </div>
    </b:replace>
</b:include>
