<b:style src="./tooltip.css"/>
<b:style src="app:template/colors.css"/>
<b:isolate/>
<b:define name="type" type="enum" values="script style html template l10n image font json"/>

<b:include src="app.ui.tooltip">
    <b:replace ref="content">
        <div class="header">
            <span b:show="{type}">
                <div class="marker type-color-{type}"/>
                {type}:&#32;
            </span>
            {basename}
        </div>
        <div>Path: {path}</div>
        <div>Size: {size} ({percent}%)</div>
    </b:replace>
</b:include>
