.tooltip {
    text-align: left;
    pointer-events: none;
}

.header {
    margin-bottom: 5px;
}

.marker {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 10px;
    margin-right: 5px;
    background: #777;
}

.size {
    font-size: 10px;
}
