<b:style src="./graph-tooltip.css"/>
<b:isolate/>
<b:define name="isEntry" type="bool"/>

<b:include src="app.ui.tooltip">
    <b:replace ref="content">
        <div class="marker marker_{isEntry}" style="background-color: {color}"/>
        {name}
    </b:replace>
</b:include>
