<b:style src="./page.css"/>
<b:isolate/>

<div class="page-container">
    <div class="color-bar">
        <!--{colorBar}-->
    </div>
    <div class="graph">
        <!--{graph}-->
    </div>
</div>
