<b:isolate/>

<b:include src="app.ui.splitView">
    <b:append ref="leftCaption">Related</b:append>
    <b:append ref="rightCaption">Retained</b:append>
    <b:append ref="leftStat"> ({relatedAmount} modules in {relatedSize} {relatedPostfix})</b:append>
    <b:append ref="rightStat"> ({retainedAmount} modules in {retainedSize} {retainedPostfix})</b:append>
</b:include>
