<b:style src="./template.css"/>
<b:isolate/>

<div>
    <div><b>File name:</b> {name}</div>
    <div><b>File size:</b> {size} {postfix}</div>
    <div><b>Retained:</b> {retainedAmount} modules in {retainedSize} {retainedPostfix}</div>

    <div class="modules">
        <!--{modules}-->
    </div>
</div>
