<b:style src="./cell.css"/>
<b:isolate/>
<b:define name="allowSorting" type="bool"/>

<td b:ref="cell">
  <div class="content content_{allowSorting}" event-click="click">
    {content}
    <div class="sorting sorting_{allowSorting}">
      <div class="arrow-up" b:show="{sortingAsc}"></div>
      <div class="arrow-down" b:show="{sortingDesc}"></div>
    </div>
  </div>
</td>
