<div>
  <div>
    <!--{stat}-->
  </div>
  <div class=":row">
    <div class=":col-xs-6">
      <h3>Modules<span b:show="{modulesCount}"> ({modulesCount})</span></h3>
      <hr/>
      <!--{modules}-->
    </div>
    <div class=":col-xs-6">
      <h3>Assets<span b:show="{assetsCount}"> ({assetsCount})</span></h3>
      <hr/>
      <!--{assets}-->
    </div>
  </div>
</div>
