<div>
  <div>
    <!--{stat}-->
  </div>
  <div class=":row">
    <div class=":col-xs-6">
      <h3>Modules</h3>
      <hr/>
      <!--{modulesTable}-->
    </div>
    <div class=":col-xs-6">
      <h3>Assets</h3>
      <hr/>
      <!--{assetsTable}-->
    </div>
  </div>
</div>
