<b:style src="./page.css"/>
<b:isolate/>

<div class="content-wrapper">
  <div class="content-column">
    <h3>Modules<span b:show="{modulesCount}"> ({modulesCount})</span></h3>
    <hr/>
    <!--{modules}-->
  </div>
  <div class="splitter"/>
  <div class="content-column">
    <h3>Assets<span b:show="{assetsCount}"> ({assetsCount})</span></h3>
    <hr/>
    <!--{assets}-->
  </div>
</div>
