<b:include src="app.ui.splitView">
    <b:append ref="leftCaption">Input</b:append>
    <b:append ref="rightCaption">Output</b:append>
    <b:append ref="leftStat"> ({modulesCount} {l10n:module.{modulesCount}} in {modulesSize})</b:append>
    <b:append ref="rightStat"> {assetsCount} {l10n:asset.{assetsCount}} in {assetsSize})</b:append>
</b:include>
