<b:style src="./template.css"/>
<b:isolate/>

<div>
  <div class="row"><!--{filterInput}--></div>
  <div class="row switcher" b:show="{suggestionChoice}"><!--{modeSwitcher}--></div>
  <div class="row stat">{modulesCount} {l10n:module.{modulesCount}} in {modulesSize}</div>
  <div class="row">
    <!--{modules}-->
  </div>
</div>
