<b:style src="./template.css"/>
<b:isolate/>

<div>
  <div class="row"><!--{filterInput}--></div>
  <div class="row" b:show="{suggestionChoice}"><!--{modeSwitcher}--></div>
  <div class="row">
    <!--{modules}-->
  </div>
</div>
