.field
{
  display: flex;
  align-items: center;
}

.target-type
{
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 11px;
  line-height: 13px;
  height: 13px;
  margin-left: 10px;
  color: #444;
}

.target-type_module
{
  background: #FCB8C4;
}

.target-type_file
{
  background: #BFB8F1;
}
